<!DOCTYPE html>
<html>
  <head>
    <title>CityCreek</title>
    <style>
     body {
      background: url("https://adc3ef35f321fe6e725a-fb8aac3b3bf42afe824f73b606f0aa4c.ssl.cf1.rackcdn.com/htmlcontent/dadeland-Hero_Mobile_m4_20191101111014.jpg");
      background-size: cover;
      color: black;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
</style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
